//
//  Debug.xcconfig
//  MultiScheme
//
//  Created by Motoshi Suzuki on 2023/05/04.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

INFOPLIST_KEY_CFBundleDisplayName = $(TARGET_NAME)Debug
PRODUCT_BUNDLE_IDENTIFIER = com.motoshi-suzuki.MultiSchemeDebug
